/node_modules
/public/hot
/public/storage
/public/vendor
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
*.log
*.sqlite
*.sqlite-journal
/public/css/*.css
/public/css/*.map
/public/js/*.js
/public/js/*.map
/public/rev-manifest.json
/resources/assets/svg